body{
    background: -webkit-linear-gradient(90deg,#0f1c20 10%, rgb(54, 84, 107)  90%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position: bottom;
}

.logo{
    width: 150px;
}

#root{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
  }

.filterAll{
    margin-top: 30px;
    justify-content: center;
    margin-left: 4.5%;

}

.container-data{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .card {
    width: 350px;
    height: 230px;
    margin: 1em;
    background:#fff;
   box-shadow: 0 5px 3px black; 
    text-align: center;
    align-content: flex-start;
    font-size: 20px;
   margin-top: 60px;
  }

  
 
 /*.filterAll{
      margin-left: 4.5%;
  }*/

  span{
      background-color: #2d3d5f;
      color: white;
      border-radius: 10px;
      width: 600px;
  }

  .navbar-text{
      width: 300px;
  }

  h6{
      color: grey;

      
  }

  h4{
      margin: 40px;
  }
  
 /* .footer{
      font-size: 10px;
      color: grey;
      text-align: center;

  } */

  /*.container_footer{
    background: rgb(41, 41, 41);
    color: #757575;
    padding: 30px 0;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
  }*/

  .resultporcentage{
      text-align: center;
      margin-top: 50px; 
      color: white;
      font-size: 30px;
  }
 /*.carousel-inner{
     height: 600px;
 }*/

 h1{
     color: #fff;
     text-align: center;
     padding: 80px;
     font-family: 'Open Sans', sans-serif;
 }

 /*.filterAll{
    width: 152px;
    height: 30px;
    background: -webkit-linear-gradient(90deg, #0a4052 10%, #3f9dbd  90%);
    color:rgb(255, 255, 255);
    border: 1.5px solid rgb(11, 22, 87);
    border-radius: 20px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    transition: all 1s ease;
 }*/