body{
    background: -webkit-linear-gradient(90deg,#0f1c20 10%, rgb(54, 84, 107)  90%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position: bottom;
}

.logo{
    width: 150px;
}

#root{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
  }

.filterAll{
    margin-top: 50px;
    justify-content: center;

}

/*.container-fluid {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
  }*/

  .card {
    width: 350px;
    height: 230px;
    margin: 1em;
    background:#fff;
   /* box-shadow: 0 10px 20px black; */
    text-align: center;
    align-content: flex-start;
    font-size: 20px;
    margin-top: 30px;
  }

  
 
  .filterAll{
      margin-left: 4.5%;
  }

  span{
      background-color: #2d3d5f;
      color: white;
      /*border-radius: 20px;*/
      width: 300px;
  }
